.btn{
    border: 6px solid #f5111183;
    background: transparent linear-gradient(171deg, #E52E2D 0%, #F51211 100%) 0% 0% no-repeat padding-box;
    border-radius: 140px;
    width: 100%;
    max-width: 300px;
    padding: 20px 36px;
    color: #fff;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    /* outline: 12px solid #f5111148;
    outline-offset: -6px; */
    box-shadow: 0 0 0px 6px rgb(135 9 9 / 28%);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    box-shadow: 0;
    transition: all .3s;
    cursor: pointer;
    &--icon{
        &:after{
            content: ' ';
            display: block;
            width: 16px;
            height: 20px;
            background: url(../images/calculator.svg) center / contain no-repeat;
            margin-left: 15px;
            flex: 0 0 auto;
        }
    }
    &--arrow{
        &:after{
            content: ' ';
            display: block;
            width: 18px;
            height: 14px;
            background: url(../images/next.svg) center / contain no-repeat;
            flex: 0 0 auto;
        }
    }
    
    
    &:hover{
        /* box-shadow: 0px 0px 35px 6px #f51111a1; */
        box-shadow: 0 0 0px 6px rgb(135 9 9 / 28%), 0 0 35px 6px rgb(245 17 17 / 63%);

    }
}