.services{
    margin-top: 35px;
    & li{
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        z-index: 1;
        margin-bottom: 10px;
        & .btn{
            width: 58px;
            height: 58px;
            border-radius: 50%;
            padding: 0 14px;
            margin: 0;
            transition: all .3s;
            & span{
                display: none;
            }
        }
        & .services__img{
            height: 185px;
            width: 100%;
            & img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        & .services__box{
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: 1;
            padding: 20px 30px;
        }
        &::after{
            content: ' ';
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-color: #0A0C1B;
            opacity: 0.7;
            z-index: 0;
            transition: all .3s;
        }
        & h4{
            font-size: 18px;
            line-height: 28px;
            margin-bottom: 25px;
        }
    }
    
}

@media(min-width: 768px){
    .services{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        & li:nth-child(3){
            grid-row-start: 2;
            grid-row-end: 4;
        }
        & li{
            margin-bottom: 0;
            & .services__img{
                height: 100%;
            }
        }
        
    }
}
@media(min-width: 1200px){
    .services{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        
        & li{
            & .services__img{
                height: 190px;
            }
            & .btn{
                overflow: hidden;
                position: relative;
                justify-content: flex-end;
                & span{
                    position: absolute;
                    left: 0px;
                    opacity: 0;
                    transition: all .1s;
                    display: block;
                }
            }
            &:hover{
                & .btn{
                    width: 185px;
                    border-radius: 140px;
                    & span{
                        padding-right: 10px;
                        opacity: 1;
                        left: 30px;
                        transition: all .9s;
                    }
                }
                &::after{
                    opacity: 0;
                    transition: all .3s;
                }
                
            }
        }
        & li:nth-child(3){
            grid-row-start: 1;
            grid-row-end: 3;
            grid-column-start: 3;
            & .services__img{
                height: 100%;
            }
        }

    }
}
@media(min-width: 1700px){
    .services{
        & li{
            & .services__img{
                height: 220px;
                height: 100%;
            }
        }
    }
}