.work{
    padding: 0 10px;
        & span{
            color: #9D9DA3;
            font-size: 14px;
            line-height: 28px;
            display: block;
        }
        & a{
            color: #fff;
        }
}